/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
    cursor: pointer; /* Change cursor to pointer */
  }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}



//================= COLORS ===================//

$clr-beaver:rgb(158, 127, 102);
$clr-codGray:rgb(13, 13, 13);
$clr-mirage:rgb(23, 25, 43);
$clr-ebony:rgb(36, 43, 55);
$clr-shutlleGray:rgb(92, 103, 121);
$clr-shutlleGrayTrans:rgba(92, 103, 121, 0.08);



//================== FONTS ==================//

html{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
}

.hd{
    &-xl{
        font-size: 80px;
        font-weight: 300;
        line-height: 80px;
        letter-spacing: -1px;
    }

    &-lg{
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.5px;
    }

    &-md{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.25px;
    }

    &-sm{
        font-size: 17px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
    }
}


.bd{
    &-1{
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0;

        @media screen and (max-width:768px){
          font-size: 16px;
          font-weight: 300;
          line-height: 26px;
        }
    }
}

.white{
  color: white;
}

.dark{
  color: $clr-ebony;
}

.container{
  padding-inline: 1.3rem;
  margin: 0 auto;
}

//==================================//

.hero{
  background-image: url("/images/homepage/hero-bg-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  padding-top: 2rem;
  

  .hero-flex{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    margin-top: 10.5rem;
    background-color: $clr-codGray;
    padding-top: 1.5rem;
    padding-bottom: 7.5rem;

    h1{
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.4px;
    }

    .button{
      margin-top: 1.5rem;
    }

  }
}

.logo{
  width: 105px;
  margin-bottom: .5rem;
}

.button{
  background-color: white;
  display: inline-block;
  padding: 1rem 3rem;
  color: white;
  background-color: $clr-codGray;
  border: solid white 1px;

  &.dark{
    background-color: transparent;
  }
}


.sec-1{
  margin-top: -3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 5rem;

  .pic-t{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .descr{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
}

.image{
  box-shadow: 0px 50px 100px -40px grey;
}

.sec-2{
  background-color: $clr-codGray;
  padding-block: 4rem;

  .pattern{
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  &-flex{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    text-align: center;

    .highlights{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .foods{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .food{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding-bottom: 2rem;

        &:not(:last-child){
          border-bottom: solid #97979769 .1px;
        }

        &__details{
          display: flex;
          flex-direction: column;
          gap: .6rem;
        }
      }
    }
  }

}

.sec-3{
  padding-block: 4rem;

  .bookings{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .options{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .option{
      text-align: center;
      color: #4c4c4c84;

      input{
        display: none;
      }

      span{
        position: relative; 
        text-align: center;
        padding: 7px;
      }

      input:checked + span{
        color: #4C4C4C;

        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 50px; 
          height: 1px; 
          background-color: black;
          transform: translateX(-50%); 
        }

        label{
          cursor: pointer;
          color: #4c4c4c82;
        }
      }
  }
  }
  
}


.sec-4{
  background-image: url("/images/homepage/ready-bg-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-block: 5rem;
  text-align: center;

  .ready{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

}

footer{
  background-color: $clr-codGray;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2px;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-weight: 300;

  .info-flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .info{
    display: flex;
    flex-direction: column;
  }
}

